/*
Theme Name: Juicesauce
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: juicesauce
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Juicesauce is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/*:root {
    --alice-blue: #FBFCFD;
    --pattens-blue: #D5EBF6;
    --gainsboro: #D9D7D7;
    --deep-sky-blue: #10A9F9;
    --light-sky-blue: #7CD1FA;
    --bittersweet: #FF5C58;
}*/


html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}*/

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	/*color: royalblue;*/
}

a:visited {
	/*color: purple;*/
}

a:hover,
a:focus,
a:active {
	/*color: midnightblue;*/
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*Autocomplete for add recipe*/

ul.bs-autocomplete-menu {
position: absolute;
top: 0;
left: 0;
width: 100%;
max-height: 200px;
overflow: auto;
z-index: 9999;
border: 1px solid #eeeeee;
border-radius: 4px;
background-color: #fff;
box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
}

ul.bs-autocomplete-menu a {
font-weight: normal;
color: #333333;
}

.ui-helper-hidden-accessible {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}

.ui-state-active,
.ui-state-focus {
color: #23527c;
background-color: #eeeeee;
}

.bs-autocomplete-feedback {
width: 1.5em;
height: 1.5em;
overflow: hidden;
margin-top: .5em;
margin-right: .5em;
}

.loader {
font-size: 10px;
text-indent: -9999em;
width: 1.5em;
height: 1.5em;
border-radius: 50%;
background: #333;
background: -moz-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
background: -webkit-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
background: -o-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
background: -ms-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
background: linear-gradient(to right, #333333 10%, rgba(255, 255, 255, 0) 42%);
position: relative;
-webkit-animation: load3 1.4s infinite linear;
animation: load3 1.4s infinite linear;
-webkit-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
}

.loader:before {
width: 50%;
height: 50%;
background: #333;
border-radius: 100% 0 0 0;
position: absolute;
top: 0;
left: 0;
content: '';
}

.loader:after {
background: #fff;
width: 75%;
height: 75%;
border-radius: 50%;
content: '';
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
}

@-webkit-keyframes load3 {
0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
}

@keyframes load3 {
0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
}



#content {
  min-height: calc( 100vh - 64px );
}

@media (min-width: 993px) {
	nav .brand-logo {
		margin-left: 50px;
	}
}

.nav-menu a {
    /*color: #fff;*/
}

nav {
	/*background-color: #4F5467 !important;*/
	/*background: #414141 !important;*/
}

body {
		/*background: #edf1f5;*/
		/*background: #fffefc;*/
		background: #eee;
}

.site-content {
	/*max-width: 1200px;
	margin-left: auto;
	margin-right: auto;*/
}


body.single-recipes .container,
body.page-template-template-add-recipe .container {
	/*width: 700px;*/
	/*max-width: 100%;*/
}

/*Add Recipe Page*/

#base-components {
	padding: 2rem;
	background: #fff !important;
	border: 1px solid #e0e0e0;
}

#base-components .row {
	margin-left: auto !important;
	margin-right: auto !important;
}

.components {
	margin-top: 50px;
	margin-bottom: 50px;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}

.components .panel {
	padding: 25px 0 15px;
}

/*Recipe Page*/

.facetwp-facet.facetwp-facet-recipe_search {
	margin-bottom: 0;
}

.facetwp-sort {
	display: inline-block;
/*width: auto;*/
/*min-width: 200px;*/
/*width: 100% !important;
max-width: 300px !important;
margin-bottom: 30px;*/
margin-bottom: 0;
}

.facetwp-sort select {
	display: block;
}

.facetwp-checkbox {
	font-size: 1rem;
	color: #9e9e9e;
}

.recipe-card .col-left,
.recipe-card .col-right,
.flavor-card .col-left,
.flavor-card .col-right {
	display: inline-block;
}

.recipe-card .col-right,
.flavor-card .col-right {
	float: right;
}

/*Recipe Flavor Buttons*/

.card-action .fruity {
	/*background-color: #E57373 !important;*/
}

.card-action .dessert {
  /*background-color: #fdd835 !important;*/
}

.card-action .tobacco {
  /*background-color: #a1887f !important;*/
}

.card-action .btn-flat {
	border: 1px solid #BEC0C2 !important;
	color: #444 !important;

}

.facet-filter {
	padding: 2em !important;
}

@media (min-width:600px) {
	.facet-filter {
		padding-top:0 !important;
	}
}

.fs-label-wrap .fs-label {
	padding: 12px 22px 12px 8px !important:;
}

/*Hides FacetWP Checkbox counter*/
.facetwp-counter {
    display: none;
}

.facetwp-type-fselect .fs-wrap, .facetwp-type-fselect .fs-dropdown {
	width: 100% !important;
	max-width: 300px !important;
}

/*HEADER*/

nav.main-navigation ul.dropdown-content {
	overflow: hidden;
}

nav li.account img {
	border-radius: 9999px;
  top: 10px;
  position: relative;
  border: 1px solid #fff;
	margin-right: 10px;
}

nav li.account i {
	margin-left: 0;
}

/*nav li.account a {
	height: 100%;
}*/


/*Materialize Ultimate Member Buttons*/

.um-profile-nav-item a {
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 2rem !important;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	text-align: center;
	letter-spacing: .5px;
	transition: .2s ease-out;
	cursor: pointer;
}

.um-faicon-thumbs-o-up {
	color: #fff;
}


.recipe-card-content,
.recipe-card .card-content {
	/*margin-left: 50px;*/
	/*min-height: 165px;*/
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}


/*REddit Voting*/

.reddit-voting {
	position: absolute;
	left:15px;
	top:22%;
}

.reddit-voting ul.unstyled {
	margin: 0;
}

.chip {
	margin-right: 5px !important;
}

.chip {
    /*background: #ee6e73 !important;*/
    /*color: #fff !important;*/
}


.um-profile-nav span {
	color: #fff !important;
}



#flaveConcentrate {
		margin-top: 50px;
		margin-bottom: 50px;
		/*margin-top: 175px;*/
}

.print-mode #revision-components {
	/*margin-top: 175px;*/
}

.boxee {
  padding: 1rem 2rem;
  /*background: #fff;*/
  /*border: 1px solid #e0e0e0;*/
	/*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
}

.components > .row {
	margin-top: 1em;
	margin-bottom: 1em;
}

.wpulike {
	/*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
}

.home .wpulike {
	/*position: absolute;
	top: 0;
	left: 0;*/
}

.single-recipes .panel .wpulike {
	/*position: absolute;
	top:20px;
	left: initial;
	right: 0;*/
}

li.comment {
	position: relative;
	padding-left: 50px;
	border: 1px solid rgba(225, 225, 225, 0.50);
}

.children .comment {
    margin-left: -35px;
    padding-left: 0;
    margin-right: 5px;
}

.children .comment .comment-body {
  padding-left: 50px;
}

li.comment .wpulike {
	left: 0;
	right: initial;
	top: 0;
}

.single-recipes .components {
	position: relative;
}

ol.comment-list {
	margin: 0;
}

.wpulike-heart .counter {
	/*background: #26a69a;*/
	/*max-height: none;
	border-radius: 0;
	border: none;*/
}

.wpulike-heart .counter a.image,
.wpulike-heart .counter a.image-unlike {
	/*border-right: 1px solid #fff;
	padding: 20px 26px!important;*/
}

.home .wpulike-heart .counter a.image,
.home .wpulike-heart .counter a.image-unlike {
	/*border-right: none;*/
	/*border-bottom: 1px solid #fff;*/
}

.wpulike-heart .count-box {
	/*color: #fff;*/
  /*padding: 1em 1.75em;*/
}

.home .wpulike-heart .count-box {
	/*display: block;
	padding: 1em;*/
}

li.comment .wpulike-heart .count-box {
	/*padding: 2.8px 5.6px;*/
	/*display: block;*/
}

li.comment .wpulike-heart .counter a.image,
li.comment .wpulike-heart .counter a.image-unlike {
	/*border-right: none;*/
	/*border-bottom: 1px solid #e0e0e0;*/
  /*padding: 11px 16px!important;*/
}

.single-recipes #revisions ul {
	margin-left: 0;
}


.comment-respond {
	max-width: 500px;
}

h2.comments-title {
	display:none;
}

#comments {
	/*padding: 2em;*/
}

.comment .comment-body {
	padding-top: 12px;
	padding-bottom: 12px;
}

ol.comment-list {
	padding-left: 0;
}

ol.children {
	margin: 0;
	padding: 0;
	margin-top: 1em;
}

.comment-box {
	/*position: absolute;
	left: 0px;
	top: 80px;
	width: 56px;
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;*/
}

.comment-box .comment-box-content {
	/*text-align: center;*/
}

.fork-box {
	/*position: absolute;
left: 0px;
top: 32px;
width: 56px;
height: 50px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;*/
}


.recipe-card .status-bar,
.flavor-card .status-bar {
	width: 100%;
	/*position: relative;*/
	display: flex;
  /*flex-wrap: wrap;*/
  /*align-items: center;*/
  /*justify-content: flex-end;*/

}

.recipe-card .status-bar {
	/*padding-left: 16px;*/
}

.recipe-card .status-bar .wpulike,
.recipe-card .status-bar .comment-box,
.recipe-card .status-bar .fork-box,
.recipe-card .status-bar .source-box,
.recipe-card .status-bar .flag-box,
.flavor-card .status-bar .wpulike,
.flavor-card .status-bar .comment-box, {
	display: inline-block;
	float: left;
	margin: 12px 0 5px;
}

.recipe-card .status-bar .source-box,
.recipe-card .status-bar .flag-box {
	margin-left: 2em;
}

.recipe-card .status-bar .source-box i {
	margin-right: 5px;
}

.recipe-card .status-bar .comment-box,
.flavor-card .status-bar .comment-box {
	margin-left: 0;
}

.recipe-card .status-bar .fork-box {
	margin-left: 2em;
}

@media (max-width: 992px) {
  .recipe-card .card-subtitle {
    display: block;
  }
}

.card .card-content .card-title {
	margin-bottom: 0 !important;
}

.card .card-content .card-subtitle {
	margin-bottom: .5em;
  /*margin-top: 0;*/
	/*display: inline-block;*/
	/*width: auto;*/
}


.wpulike-heart .counter {
	border: 0;
    background: none;
    border-radius: 0;
    padding: 0;
}

.wpulike-heart .counter a.image {
	border-right: 0;
  /*padding: 11px 11px!important;*/
}

.wpulike .count-box {
	text-align: left;
	font-size: 16px;
	padding: 0;
}

.card .card-content .status-bar,
.card .card-content .status-bar a {
	font-size: 16px !important;
}

.wpulike-heart .counter a.image, .wpulike-heart .counter a.image-unlike, #buddypress .activity-content .wpulike-heart .counter a.image, #buddypress .activity-content .wpulike-heart .counter a.image-unlike, #bbpress-forums .bbp-reply-content .wpulike-heart .counter a.image, #bbpress-forums .bbp-reply-content .wpulike-heart .counter a.image-unlike {
	border-right: 0;
}

.single-recipes .delete-post {
	margin-right: 8px;
	display: inline-block;
	float: right;
}


.um-profile-body.recipes .recipe-card .status-bar {
	padding-left: 0;
	margin-left: -8px;
}

#card-container {
	/*border-radius: 10px;*/
}
.recipe-card {
  /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);*/
  transition: background-color 750ms;
  box-sizing: border-box;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
}


.cardAction > a {
  opacity: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 20px;
  color: #757575;
  transition: opacity 750ms;
  width: 45px;
  height: 30px;
  text-align: center;
}

.recipe-card:hover .cardAction > a {
  opacity: 1;
}



.likesBox {
  padding-right:2em;
}

.recipe-card .card-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
}

.recipeWrapper {
  text-align: left;
}

.recipe-card,
.facet-filter {
	/*box-shadow: none !important;*/
}


.card .card-content .text-green.text-lighten-2 {
	 color: #81C784 !important;
}

.card .status-bar span,
.card .status-bar i {
	color: #616161 !important;
	font-size: 16px;
}

.card .status-bar i {
	-webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    transition: .25s;

}

.card .status-bar a:hover i {
	font-size: 20px;
}

.recipe-card .card-action a {
	text-transform: none !important;
  border: 1px solid;
  padding: 2px 4px;
  border-radius: 5px;
  background: #039be5;
  color: #fff;
  opacity: .75;
}

.recipe-card .card-action {
	/*padding: 0px 24px !important;*/
  display: flex;
  margin-bottom: 7px;
}


a.brand-logo:after {
    content: "beta 0.9";
    font-size: 10px;
    margin-left: 5px;
}


input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
	border-bottom: 1px solid #039be5 !important;
	box-shadow: 0 1px 0 0 #039be5 !important;
}


		/* label color */
	   .input-field label {
	     color: #9e9e9e !important;
	   }
	   /* label focus color */
	   .input-field input[type=text]:focus + label {
	     color: #9e9e9e !important;
	   }
	   /* label underline focus color */
	   .input-field input[type=text]:focus {
	     border-bottom: 1px solid #039be5 !important;
	     box-shadow: 0 1px 0 0 #039be5 !important;
	   }
	   /* valid color */
	   .input-field input[type=text].valid {
	     border-bottom: 1px solid #4caf50 !important;
	     box-shadow: 0 1px 0 0 #4caf50 !important;
	   }
	   /* invalid color */
	   .input-field input[type=text].invalid {
	     border-bottom: 1px solid #f44336 !important;
	     box-shadow: 0 1px 0 0 #f44336 !important;
	   }
	   /* icon prefix focus color */
	   .input-field .prefix.active {
	     color: #039be5 !important;
	   }


.wpulike-heart .counter a.image, .wpulike-heart .counter a.image-unlike, #buddypress .activity-content .wpulike-heart .counter a.image, #buddypress .activity-content .wpulike-heart .counter a.image-unlike, #bbpress-forums .bbp-reply-content .wpulike-heart .counter a.image, #bbpress-forums .bbp-reply-content .wpulike-heart .counter a.image-unlike,
.wpulike-heart .counter a.image:hover {
	    /*background-image: url(../img/icons/add.png) !important;*/
}

nav.main-navigation ul.dropdown-content {
	min-width: 200px;
}

.collection .collection-item {
	padding: 16px 20px 0 !important;
}

.collection {
  background: white;
}

/*.components .row,*/
.components p,
.components h2 {
	margin-bottom: 0;
	margin-top: 0;
}

.components h2 {
	font-size: 32px;
}

ul.tabs {
	background: none;
}

.tabs .tab {
	background: #fff;
}


h3#reply-title  {
	font-size: 16px;
	line-height: 18px;
	margin: 1em 0;
}

.components .topPanel {
	margin-bottom: .5em;
}

.components .topPanel > div {
	display:inline-block;
	width: auto;
}

.components .topPanel .wpulike {
	float: right;
}

.recipeDropdown-button {
	float: right;
	font-size: 20px;
	padding-left: 1em;
}

#dropdownRecipe {
	min-width: 150px;
}

.sortBar .nav-wrapper {
  display: flex;
  justify-content: center;
}

.sortBar select {
  border: 0;
  background: transparent;
  padding: 0;
}

.sortBar .fs-label-wrap {
  background: transparent;
  border: 0;
}

.sortBar .fs-label-wrap .fs-label {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 24px 0px !important;
}

.sortBar .fs-arrow {
  right: -16px;
}

.sortBar .facetwp-btn {
  line-height: initial;
}

.sortBar .facetwp-facet {
  margin-bottom: 0;
  height: 64px;
}

.sortBar .fs-label {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.sortBar li {
    padding: 0 20px;
}

.sortBar .sortBy {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.sortBar .fs-arrow {
  border-top: 5px solid #757575 !important;
}


.recipe-card .card-title {
  font-size: 20px;
}

.recipe-card:hover,
.recipe-card:focus {
  background-color: #fafafa;
  /*border-bottom: 1px solid #e0e0e0;*/
  /*border-top: 1px solid #e0e0e0;*/
}

.main-navigation ul {
  display: block;
}

@media (max-width: 992px) {
  input, select, textarea {
      font-size: 16px !important;
  }
}

.wpulike .count-box:before {
  content: none;
}

.wpulike .counter a {
  color: #039be5 !important;
  margin: 0;
  display: initial;
  border-radius: 0;
  border: none;
  vertical-align: middle;
  line-height: initial;
  padding: initial;
  cursor: pointer;
  max-height: initial;
  color: initial;
  background: none;
  box-shadow: none;
  text-shadow: none;
  text-decoration: none;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -ms-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  font-size: 20px !important;
}

.wpulike .count-box {
  text-align: left;
  font-size: 20px !important;
  padding: 0;
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 0;
  vertical-align: middle;
  color: #039be5;
  text-align: initial !important;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: initial !important;
  margin-left: .5em;
  line-height: 0;
  min-width: 2.25em;
}
